body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    font-family: sans-serif;
}

.top-wrapper {
  padding: 100px 0 100px 0;
  background-image: url(https://imagizer.imageshack.com/img922/5755/LjfocE.jpg);
  background-size: cover;
  color: whitesmoke;
  text-align: left;  
}

.title {
    width: 550px;
    height: 100px;
}

.top-wrapper p {
    font-size : 20px;
}

.btn-wrapper {
    padding: 12px 24px;
    text-align: center;
}

table, th {
    border: 1px white solid;
}

th {
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

th:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

header {
    height: 50px;
    width: 100%;
    background-color: rgba(75, 76, 77, 0.7);
    position: fixed;
    top: 0;
    z-index: 10;
}

.header-left {
    float: left;
}

.header-right {
    color: white;
    float: right;
}

.logo {
    margin-top: 12px;
    width: 130px;
    height: 30px;
    margin-left: 80px;    
}

.header-list li {
    float: left;
    padding: 0 10px;
}

li {
    list-style: none;
    font-size: 15px;
}

.header-right li {
    float: right;
    padding: 0 20px;
}

.imgkorlan {
    width: 760px;
    height: 405px;
}

.imgpenggiat {
    width : 759px;
    height: 400px;
}

.txtkolan {
    width: 230px;
    height: 20px;
}

.txtpenggiat {
    width: 220px;
    height: 30px;
    margin-top: 0;
}

.text1 {
    background-color: grey;
    width: 759px;
    height: 265px;
    color: white;
    text-align: center;
    padding: 70px 0;
    font-family: sans-serif;
}

.text1 p{
    margin-bottom: 20px;
}

.text1 a {
    border: 1px white solid;
    padding: 7px 10px;
}

.text1 a:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.text2 {
    background-color: rgb(228, 228, 228);
    width: 765px;
    height: 260px;
    text-align: center;
    padding: 70px 0;
    font-family: sans-serif;
}

.text2 a {
    color: black;
    border: 1px black solid;
    padding: 7px 10px;
}

.text2 a:hover {
    background-color: rgba(104, 103, 103, 0.7);
}

.text2 p{
    margin-bottom: 50px;
}

.contents ul {
    margin-left: 0px;
    padding-left: 0px;
}

.flex-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.flex-list li {
    flex: auto;
    width: 50%;
    margin: 0;
}

.contact-form {
    background-color: grey;
    padding: 50px 0;
    font-family: sans-serif;
    color: white;
  }

input,textarea {
    width: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 15px;
    border: 1px solid #ffffff;
    font-family: sans-serif;
    margin-left: 15px;
}

.contact-submit {
    background-color: #000000;
    color : #feffff;
    position: relative;
    top: 40px;
    left: -335px;
  }

.footer-list {
    float: right;
    text-align: right;
    margin-right: 10px;
  }
  
  .footer-list li {
    padding-bottom: 20px;
  }